/* Custom theme for peppercarrot.com [ja] to load font 'Rounded M+ 1c' and fix scaling
 * Copyright (c) 2021 David Revoy,GPL license
 * (http://www.gnu.org/licenses/gpl.html )*/

/* Loading a custom font */
@font-face { font-family: 'Rounded M+ 1c'; src: url('../font/rounded-mplus-1c-regular.woff') format('woff'); font-weight: normal; font-style: normal; }

/* Header styling */
html, h1, h2, h3, h4, h5, h6 { font-family: 'Rounded M+ 1c', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
h1{font-size:2.4rem; font-weight: 700;}
h2{font-size:2.0rem; font-weight: 700;}
h3{font-size:1.5rem; margin-top:0.6rem;}
h4{font-size:1.2rem}

/* Fixes for top menu */
.menu.expanded { font: normal 14px 'Rounded M+ 1c', cursive; margin: 25px 0 0 0; }
.menu.expanded a { font-size: 20px; font-weight: 700; font-family: 'Rounded M+ 1c', cursive; }

/* Fix for the text on the cover, to keep it on three lines*/
.cover h1 {max-width: 660px; font-family: 'Rounded M+ 1c', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}

/* Fix for Goodies/Contribute box labels */
#blockmenu .blockcaption { font: normal 26px 'Rounded M+ 1c', cursive; font-weight: 700; }

/* 1510px monitor and under */
@media (max-width: 1510px) {
  .menu.expanded li a { padding: 4px 6px; font-size: 16px; margin: 3px 0 0 0;}
}

/* 1100px monitor and under */
@media (max-width: 1160px) {
  .menu.expanded li a { font-size: 12px;}
}
